@using DataAccess.Model
@model IList<Vstupenka>
@{
    ViewBag.Title = "Index";

}



<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Karta hráče</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body" id="modalContent">
                
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Zavřít</button>
               <!--<button type="button" class="btn btn-primary">Save changes</button>-->
            </div>
        </div>
    </div>
</div>

<!--<p>Dnes je @ViewBag.Datum</p>-->
<h2>Seznam rezervací vstupenek</h2>


<div>
    <div class="panel-body">
        @using (Ajax.BeginForm("Search", new AjaxOptions() { UpdateTargetId = "dynamicContent", InsertionMode = InsertionMode.Replace }))
        {
            <input type="text" class="form-control" placeholder="Vyhledat rezervaci" id="searchBox" name="phrase"/>
            <input type="submit" value="Hledat" class="btn btn-dark"/>
        }
    </div>
</div>

@*<div class="panel">
    <div class="panel-body">
        @if (ViewBag.Leagues != null)
        {
            foreach (HokejistaLiga hokejistaLiga in ViewBag.Leagues)
            {
      
                <a href="@Url.Action("League", "Players", new { id = hokejistaLiga.Id })" class="btn btn-lg btn-outline-info my-3  ">@hokejistaLiga.Nazev</a>
        
            }
        }
    </div>
</div>*@


<div class="clearfix"></div>


<table class=" table table-bordered table-hover table-condensed">
    <thead>
        <tr>
            <th>Id</th>
            <th>Jméno žadatele</th>
            <th>Adresa</th>
            <th>Požadovaný počet</th>
            <th>Delete</th>
        </tr>
    </thead>
    <tbody>
        @foreach (Vstupenka v in Model)
        {
        <tr>

            @*<td><a href="@Url.Action("Detail", "Players", new { id = h.Id })">@h.Id</a></td>
        <td>
            @Ajax.ActionLink(h.Jmeno, "Detail", new { id = h.Id }, new AjaxOptions() { UpdateTargetId = "modalContent", InsertionMode = InsertionMode.Replace, OnBegin = "openModalWindow" })
        </td>*@
            <td>@v.Id</td>
            <td>@v.Jmeno</td>
            <td>@v.Adresa</td>
            <td>@v.PocetVstupenek</td>

            <td>

                @Html.ActionLink("Delete", "Delete", "Vstupenky", new { id = v.Id }, new { onclick = "return confirm('Přejete si skutečně smazat rezrvaci vstupenky klienta " + v.Jmeno + "?');" })

            </td>
        </tr>
        }
    </tbody>
</table>

<div class="clearfix"></div>

@if (ViewBag.Pages != null)
{
    <nav aria-label="...">
        <ul class="pagination">

          

            @for (int i = 1; i <= ViewBag.Pages; i++)
            {
                <li class="@(ViewBag.CurrentPage == i ? "active" : "")" aria-current="page">
                    <div class="page-link">
                       @Ajax.ActionLink(i.ToString(), "Index", new { page = i }, new AjaxOptions() {InsertionMode = InsertionMode.Replace, UpdateTargetId = "dynamicContent"})
                    </div>
                </li>
            }


            
        </ul>
    </nav>
}

    <script type="text/javascript">
    $(function () {


        $("#searchBox").autocomplete({
            source: function (request, response) {
                $.ajax({
                    url: '@Url.Action("SearchVstupenky","Vstupenky")',
                    dataType: "json",
                    data: {
                        query: request.term
                    },
                    success: function (data) {
                        response(data);
                    }
                });
            },
            minLength: 2

        });
    });
    </script>

<script type="text/javascript">
    function openModalWindow() {
        $('#myModal').modal({
            show: true
        });
    }
</script>
